@use "../styles/abstracts/sizes";

.team {
  @media (max-width: sizes.$layout-breakpoint-small) {
    order: 3;
  }

  &__member {
    display: flex;
    padding-left: 55px;

    @media (max-width: sizes.$layout-breakpoint-small) {
      display: block;
      padding-left: 0;
    }
  }

  &__member-name {
    font-weight: sizes.$font-regular;
    font-size: sizes.$size-regular;
    line-height: sizes.$line-height-regular;
    display: inline;
    font-weight: sizes.$font-heavy;

    @media (max-width: sizes.$layout-breakpoint-small) {
      margin-right: 0;
    }
  }

  &__member-description {
    font-weight: sizes.$font-regular;
    font-size: sizes.$size-regular;
    line-height: sizes.$line-height-regular;
    display: inline;
    width: 817px;
    p:first-of-type {
      display: inline;
    }

    @media (max-width: sizes.$layout-breakpoint-small) {
      width: auto;
      font-size: sizes.$size-mobile-large;
    }
  }

  &__profile {
    border-radius: 200px;
    width: 120px;
    height: 120px;
    min-width: 120px;
    margin-right: 15px;
  }
}
