@use "../styles/abstracts/colors";
@use "../styles/abstracts/sizes";

.loading-screen {
  position: absolute;
  background-color: colors.$bg-color;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animateContainer 3s forwards;
  animation-delay: 2s;

  .image-container {
    text-align: center;
  }

  img {
    width: 100%;
    animation: animateLogo 9s forwards;
  }

  @keyframes animateContainer {
    80% {
      opacity: 0.8;
    }
    90%{
      opacity: 0.6;
    }
    100% {
      width: 15vw;
      height: 20vh;
      opacity: 0;
    }
  }

  @keyframes animateLogo {
    40% {
      width: 100%;
    }
    100% {
      width: 67%;
    }
  }
}
