.company {
  display: flex;
  margin-bottom: 33px;
  gap: 36px;

  &__description {
    flex-basis: 817px;

    h4 {
      display: inline;
    }
    p:first-of-type {
      display: inline;
      margin-top: 0;
    }
  }

  &__logo-container {
    width: 180px;
    img {
      filter: brightness(0) invert(1);
    }
  }

  &__logo {
    float: right;
  }
}
